In [1]:
import pandas as pd
import numpy as np
import sys
import matplotlib.pylab as plt
%matplotlib inline
import pylab as pl
from pandas import *
df = pd.read_csv("NCWIT_DataV2_RawData.csv")

df.dropna(subset=['Enroll, Female: Avg. SAT Math Score (Enrl F)'], inplace = True)
df.dropna(subset=['Enroll, Male: Avg. SAT Math Score (Enrl M)'], inplace = True)
df.dropna(subset=['School Year'], inplace = True)
df['School Year'] = df['School Year'].str.split('-').str[0].astype(int)
df['Average SAT Math Score'] = (df['Enroll, Female: Avg. SAT Math Score (Enrl F)'] + df['Enroll, Male: Avg. SAT Math Score (Enrl M)'])/2
df = df[['School Year','Average SAT Math Score']]
df = df.sort_values(by="School Year", ascending=True)
df = df[["School Year", "Average SAT Math Score"]].groupby("School Year").mean()
df.to_csv("AverageSATData.csv")

/Users/zex0012/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

             Average SAT Math Score
School Year
2003                     624.730000
2004                     492.830000
2005                     561.013636
2006                     531.897333
2007                     546.326500
2008                     559.392273
2009                     653.026250
2010                     650.259262
2011                     650.084145
2012                     658.795190
2013                     673.886938
2014                     679.865324
2015                     708.807491
2016                     703.557759